<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
    import { getMessaging, getToken, onMessage } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-messaging.js";

    function requestPermission() {
        console.log('Requesting permission...');
        Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
                console.log('Notification permission granted.');
            }
        });
    }

    requestPermission()

    const firebaseConfig = {
        apiKey: "AIzaSyBPq24_mICDA2ZKgDwG6nxDWtcFkrzIlo4",
        authDomain: "blog-ba65c.firebaseapp.com",
        projectId: "blog-ba65c",
        storageBucket: "blog-ba65c.appspot.com",
        messagingSenderId: "870065325045",
        appId: "1:870065325045:web:8988fc00ae630fc9c056bc",
        measurementId: "G-PV6ZD4J667"
    };

    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app);

    if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/Blog/firebase-messaging-sw.js', {
            type: 'module'
        }).then(registration => {
            getToken(messaging, { 
                vapidKey: 'BAqfwT45uixKY6_6OzuztpA2y7JL2pTtLncFwMro4hT9t4Zr9KwepApOaOZbsQuJ_t72m13nO7H-Ue30_jr2akE',
                serviceWorkerRegistration: registration,
            })
                .then(currentToken => {
                    if (currentToken) {
                        console.log(`Got token ${currentToken}`)
                        subscribeToken(currentToken);
                    } else {
                        console.log('No registration token available. Request permission to generate one.');
                    }
                }).catch(err => {
                    console.log('An error occurred while retrieving token. ', err);
                }
            );
                
        }).catch(console.error);
    }

    const API_URL = 'https://pfjt40ad8c.execute-api.us-east-1.amazonaws.com/'

    function subscribeToken(firebaseToken) {
        const requestData = {
            firebaseToken: firebaseToken,
        };

        return axios.post(API_URL, requestData)
            .then((response) => {
                return response.data;
            })
            .catch((error) => {
                throw error.response ? error.response.data : error.message;
            });
    }

    onMessage(messaging, payload => {
        console.log('Message received. ', payload);
    });
</script>
